<hi:common_header runat="server" />
<div class="well clearfix">
    <ul class="table-view">
        <li class="table-view-cell clearfix">
            <div class="pull-left">流水号：</div>
            <div class="pull-right"><asp:Literal ID="litPayId" runat="server"></asp:Literal></div>
        </li>
        <li class="table-view-cell clearfix">
            <div class="pull-left">类型：</div>
            <div class="pull-right"><asp:Literal ID="litTradeType" runat="server"></asp:Literal></div>
        </li>
        <li class="table-view-cell clearfix">
            <div class="pull-left"><asp:Literal ID="litTrade" runat="server"></asp:Literal>：</div>
            <div class="pull-right"><asp:Literal ID="litTradeAmount" runat="server"></asp:Literal></div>
        </li>
        <li class="table-view-cell clearfix">
            <div class="pull-left">支付方式：</div>
            <div class="pull-right"><asp:Literal ID="litTradeWays" runat="server"></asp:Literal></div>
        </li>
        <li class="table-view-cell clearfix">
            <div class="pull-left">时间：</div>
            <div class="pull-right"><asp:Literal ID="litTradeTime" runat="server"></asp:Literal></div>
        </li>
        <li class="table-view-cell clearfix">
            <div class="pull-left">余额：</div>
            <div class="pull-right"><asp:Literal ID="litAmount" runat="server"></asp:Literal></div>
        </li>
        <li class="table-view-cell clearfix">
            <div class="pull-left">备注：</div>
            <div class="note pull-right"><asp:Literal ID="litRemark" runat="server"></asp:Literal></div>
        </li>
    </ul>
</div>
<hi:common_footer runat="server" />