<hi:common_header runat="server" />
<div class="well clearfix">
    <ul class="table-view">
        <li class="table-view-cell clearfix">
            <div class="pull-left">申请时间：</div>
            <div class="pull-right"><asp:Literal ID="litRequestTime" runat="server"></asp:Literal></div>
        </li>
        <li class="table-view-cell clearfix">
            <div class="pull-left">提现状态：</div>
            <div class="pull-right"><asp:Literal ID="litState" runat="server"></asp:Literal></div>
        </li>
        <li class="table-view-cell clearfix">
            <div class="pull-left">账号类型：</div>
            <div class="pull-right"><asp:Literal ID="litRequestType" runat="server"></asp:Literal></div>
        </li>
        <li class="table-view-cell clearfix">
            <div class="pull-left">收款账号：</div>
            <div class="pull-right"><asp:Literal ID="litAccountCode" runat="server"></asp:Literal></div>
        </li>
        <li class="table-view-cell clearfix">
            <div class="pull-left">提现金额：</div>
            <div class="pull-right"><asp:Literal ID="litAmount" runat="server"></asp:Literal></div>
        </li>
        <!--<li class="table-view-cell clearfix">
            <div class="pull-left">账号余额：</div>
            <div class="pull-right"><asp:Literal ID="litTradeWays" runat="server"></asp:Literal></div>
        </li>-->
        <li class="table-view-cell clearfix">
            <div class="pull-left">备注：</div>
            <div class="note pull-right"><asp:Literal ID="litRemark" runat="server"></asp:Literal></div>
        </li>
    </ul>
</div>
<hi:common_footer runat="server" />