<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/Default.aspx" title="店铺主页">
                                    
                                    
                                    <img src="/Templates/vshop/t1/images/30banner01.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/Default.aspx" title="店铺主页">
                                    
                                    
                                    <img src="/Templates/vshop/t1/images/30banner01.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/Default.aspx" title="店铺主页">
                                    
                                    
                                    <img src="/Templates/vshop/t1/images/30banner01.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw2">
                        <span><a href="/Default.aspx"><img src="/Templates/vshop/t1/images/30nev01.jpg" width="70"></a></span>
                        <a class="members_nav1_name" href="/Default.aspx"></a>
                    </li>
                    
                    <li class="lisw2">
                        <span><a href="/Default.aspx"><img src="/Templates/vshop/t1/images/30nev02.jpg" width="70"></a></span>
                        <a class="members_nav1_name" href="/Default.aspx"></a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/default.aspx" title="VERO">
                            
                            
                            <img src="/Templates/vshop/t1/images/30banner02.jpg" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>
    <Hi:GoodsMobule runat="server" Layout="1" ShowName="1" IDs="170,169,168" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsList.ashx" ID="goods_b6786dc062cb4d988d84c1f64007a4df" TemplateFile="/admin/shop/Modules/GoodGroup1.cshtml"    />