<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/ProductDetails.aspx?productId=210" title="红酒 法国进口红酒 罗莎红葡萄酒1支装">
                                    
                                    
                                    <img src="http://www.178gx.com/Storage/template/20161121/6361534652374600027857312.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/ProductDetails.aspx?productId=208" title="圣芝红酒 法国原瓶进口红酒AOC赤霞珠干红葡萄酒类1支">
                                    
                                    
                                    <img src="http://www.178gx.com/Storage/template/20161121/6361534651515670625365663.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con">
            <section class="members_search">
                  <form action="/ProductList.aspx" method="get">
                <input type="text" name="keyWord" id="keyWord" value="" placeholder="商品搜索：请输入商品关键字">
                <button type="submit"></button>
           </form>
            </section>
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw4">
                        <span><a href="/ProductList.aspx?categoryId=14"><img src="http://www.178gx.com/Storage/template/20161122/6361542547439867029259278.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductList.aspx?categoryId=14">汽车汽车</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/ProductList.aspx?categoryId=11"><img src="http://www.178gx.com/Storage/template/20161122/6361542543217243942728336.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductList.aspx?categoryId=11">电器厨具</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/ProductList.aspx?categoryId=8"><img src="http://www.178gx.com/Storage/template/20161122/6361542544289453083835851.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductList.aspx?categoryId=8">食品酒类</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/ProductList.aspx?categoryId=3"><img src="http://www.178gx.com/Storage/template/20161122/6361542545394964281743838.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductList.aspx?categoryId=3">汽车用品</a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con"  >
            <section class="members_nav1">
                <ul>
                    
                    
                    <li class="lisw4">
                        <span><a href="/ProductList.aspx?categoryId=12"><img src="http://www.178gx.com/Storage/template/20161122/6361542549640049166047069.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductList.aspx?categoryId=12">户外运动</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/ProductList.aspx?categoryId=13"><img src="http://www.178gx.com/Storage/template/20161122/6361542546331328367337199.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductList.aspx?categoryId=13">家居用品</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/ProductList.aspx?categoryId=10"><img src="http://www.178gx.com/Storage/template/20161122/6361542548111963143379932.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductList.aspx?categoryId=10">休闲垂钓</a>
                    </li>
                    
                    <li class="lisw4">
                        <span><a href="/ProductList.aspx?categoryId=1"><img src="http://www.178gx.com/Storage/template/20161123/6361548473539615539662229.png" width="70"></a></span>
                        <a class="members_nav1_name" href="/ProductList.aspx?categoryId=1">功夫茶具</a>
                    </li>
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/ProductList.aspx?categoryId=8" title="食品酒类">
                                    
                                    
                                    <img src="http://www.178gx.com/Storage/template/20161123/6361548495677672639054288.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    <Hi:GoodsMobule runat="server" Layout="1" ShowName="1" IDs="210,209,208,117,116,115,114,175,174,164" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsList.ashx" ID="goods_f5279302fc304735a84ac69a9668f475" TemplateFile="/admin/shop/Modules/GoodGroup1.cshtml"    />
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/ProductList.aspx?categoryId=11" title="电器厨具">
                                    
                                    
                                    <img src="http://www.178gx.com/Storage/template/20161123/6361548653607586298929972.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    <Hi:GoodsMobule runat="server" Layout="1" ShowName="1" IDs="258,257,256,255,254,253,252,251,250,249" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsList.ashx" ID="goods_329ee78fad28486b8b7eabe4ec0f52f1" TemplateFile="/admin/shop/Modules/GoodGroup1.cshtml"    />
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/ProductList.aspx?categoryId=3" title="汽车用品">
                                    
                                    
                                    <img src="http://www.178gx.com/Storage/template/20161123/6361548510732254613980311.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    <Hi:GoodsMobule runat="server" Layout="1" ShowName="1" IDs="240,239,238,237,236,235,234,233" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsList.ashx" ID="goods_7c2f34b1ea8040a088ac7e8ef775f201" TemplateFile="/admin/shop/Modules/GoodGroup1.cshtml"    />
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/ProductList.aspx?categoryId=12" title="户外运动">
                                    
                                    
                                    <img src="http://www.178gx.com/Storage/template/20161123/6361548512584669496638081.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    <Hi:GoodsMobule runat="server" Layout="1" ShowName="1" IDs="223,224,222,221,220,219,218,217,216,215" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsList.ashx" ID="goods_574bbe41c70545f0a996edda3207dd09" TemplateFile="/admin/shop/Modules/GoodGroup1.cshtml"    />
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/ProductList.aspx?categoryId=13" title="家居用品">
                                    
                                    
                                    <img src="http://www.178gx.com/Storage/template/20161123/6361548514845986797783480.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    <Hi:GoodsMobule runat="server" Layout="1" ShowName="1" IDs="248,247,246,245,244,243,242,241" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsList.ashx" ID="goods_121989f013924e0a8de21da072673195" TemplateFile="/admin/shop/Modules/GoodGroup1.cshtml"    />
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/ProductList.aspx?categoryId=10" title="休闲垂钓">
                                    
                                    
                                    <img src="http://www.178gx.com/Storage/template/20161123/6361548516474467292324617.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    <Hi:GoodsMobule runat="server" Layout="1" ShowName="1" IDs="214,213,212,211" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsList.ashx" ID="goods_207a296642354df08870a032fa498aaa" TemplateFile="/admin/shop/Modules/GoodGroup1.cshtml"    />
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/ProductList.aspx?categoryId=1" title="功夫茶具">
                                    
                                    
                                    <img src="http://www.178gx.com/Storage/template/20161123/6361548518635780755825260.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>
                <section class="members_flash_time">
                    
                </section>
            </section>
            
        </div>
    <Hi:GoodsMobule runat="server" Layout="1" ShowName="1" IDs="227,226,225,232,231,230,229,228" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsList.ashx" ID="goods_252ee88021014745b4e54345e7ff456f" TemplateFile="/admin/shop/Modules/GoodGroup1.cshtml"    />
       
        <div class="members_con">
            <div class="fulltext" style="padding:10px 0"><p>
    <br/>
</p></div>
        </div>
    