<hi:common_header runat="server" />
<div class="nav-box mb10">
    <div class="payway" show="yes">选择提现方式</div>
    <asp:literal runat="server" id="litApplyType"/>
    <input type="hidden" runat="server" clientidmode="Static" id="selectApplyType"/>
    <!--<div class="payway">微信红包</div>-->
</div>
<div class="nav-box radius clearfix mt15" id="ApplyName">
    <label class="form-label">收款人&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input class="form-input" type="text" name="txtApplyName" id="txtApplyName" placeholder="显示用户已设置的真实姓名" />
</div>
<div class="nav-box radius clearfix" id="ApplyBank">
    <label class="form-label">帐号说明</label>
    <input type="text" class="form-input" placeholder="帐号说明，如开户行/支付宝/财付通" name="txtApplyBank" id="txtApplyBank" />
</div>
<div class="nav-box radius clearfix" id="ApplyAccount">
    <label class="form-label">提现账号</label>
    <input class="form-input" type="text" placeholder="输入提现账号信息" name="txtApplyAccount" id="txtApplyAccount" />
</div>
<div class="nav-box radius clearfix distable mt30" id="ApplyAmount">
    <label class="form-label">提现金额</label>
    <input class="form-input" id="txtApplyAmount" type="text" placeholder="本次可提现0.00元" onkeyup="this.value = (this.value.match(/\d+(\.\d{0,2})?/) || [''])[0]" />
</div>
<div class="pl20" id="msg3">
    <div class="font12 color9"><i class="iconfont icon-tubiaoweb09 mr5 pull-left"></i>微信红包限额200元
    </div>
</div>
<div class="pl21 pt5 font14" id="ApplyRemark">备注</div>
<div class="nav-box radius mb10 mt5" id="InputRemark">
    <textarea class="form-textarea" rows="3" placeholder="请输入备注信息" name="txtApplyRemark" id="txtApplyRemark"></textarea>
</div>
<div class="pad10" id="ApplySure">
    <input type="button" class="btn btn-danger btn-block font16" value="确认提现"/>
</div>

<input type="hidden" runat="server" clientidmode="Static" value="0" id="MaxAmount">
<input type="hidden" runat="server" clientidmode="Static" value="0" id="MinAmount">
<input type="hidden" runat="server" clientidmode="Static" value="" id="RealName">

<script>
    $(function() {
        $("#txtApplyAmount").attr("placeholder", "本次可提现" + $("#MaxAmount").val() + "元");
        $("#txtApplyName").val($("#RealName").val());

        function changeShow(value) {
            $(".clearfix").removeClass("distable");
            switch (value) {
                case "0":  //微信钱包
                    $("#ApplyName").hide();
                    $("#ApplyBank").hide();
                    $("#ApplyAccount").hide();
                    $("#ApplyRemark").hide();
                    $("#InputRemark").hide();
                    $("#msg3").hide();
                    $("#ApplyAmount").removeClass("mb10");
                    $("#ApplySure").addClass("mt100");
                    break;
                case "3":  //微信红包
                    $("#ApplyName").hide();
                    $("#ApplyBank").hide();
                    $("#ApplyAccount").hide();
                    $("#ApplyRemark").hide();
                    $("#InputRemark").hide();
                    $("#msg3").show();
                    $("#ApplyAmount").addClass("mb10").addClass("mt30");
                    $("#ApplySure").removeClass("mt20").addClass("mt100");
                    break;
                case "1":  //支付宝
                    $("#ApplyName").show();
                    $("#ApplyBank").hide();
                    $("#ApplyAccount").show();
                    $("#ApplyRemark").show();
                    $("#InputRemark").show();
                    $("#msg3").hide();
                    $("#ApplyAmount").removeClass("mb10").removeClass("mt30");
                    $("#ApplySure").removeClass("mt100").addClass("mt20");
                    break;
                case "2":  //线下转账
                    $("#ApplyName").show();
                    $("#ApplyBank").show();
                    $("#ApplyAccount").show();
                    $("#ApplyRemark").show();
                    $("#InputRemark").show();
                    $("#msg3").hide();
                    $("#ApplyAmount").removeClass("mb10").removeClass("mt30");
                    $("#ApplySure").removeClass("mt100").addClass("mt20");
                    break;
                default:
                    break;
            }

            $(".clearfix:visible").addClass("distable");
        }

        if ($("div.payway[name]").length > 0) {
            $("div.payway[name]").css({ "display": "none", "background-color": "#f5f5f5" });
            var text = $("div.payway[name]:first").html();
            var value = $("div.payway[name]:first").attr("name");
            changeShow(value);
            $("div.payway[show='yes']").html(text);
            $("#selectApplyType").val(value);
        }

        //选择提现方式
        $('div.payway').click(function () {
			$('div.payway:first-child').toggleClass('active');
            if ($(this).attr("show") === "yes") {
                if ($("div.payway[name]:hidden").length > 0) {
                    $("div.payway[name]").css("display", "block");
                } else {
                    $("div.payway[name]").css("display", "none");
                }
            } else {
                $("div.payway[show='yes']").html($(this).html());
                changeShow($(this).attr('name'));
                $("div.payway[name]").css("display", "none");
                $('#selectApplyType').val($(this).attr('name'));
            }
        });

        function checkMoney(obj) {
            if (/^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/.test(obj)) {
                return true;
            }
            return false;
        };

        $(".btn-danger").click(function() {
            var requesttype = $("#selectApplyType").val();  //提现方式
            var money =parseFloat($("#txtApplyAmount").val()); //提现金额
            var realname = $("#txtApplyName").val(); //收款人
            var bankname = $("#txtApplyBank").val(); //开户行
            var account = $("#txtApplyAccount").val();  //提现账号
            var remark = $("#txtApplyRemark").val();  //备注

            if (requesttype == "") {
                alert_h('请选择账号类型');
                return;
            }
            if (!checkMoney(money) || money < parseFloat($("#MinAmount").val()) || money > parseFloat($("#MaxAmount").val())) {
                alert_h("提现金额必须不小于"+$("#MinAmount").val()+",不大于可提现余额！");
                return;
            }
            if (requesttype == 1 && !/^1\d{10}$/.test(account) && !/^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/.test(account)) {
                alert_h('请输入正确的支付宝帐号，否则无法正常发放！');
                return;
            }
            if (requesttype == 2 && account.length < 4) {
                alert_h('请输入正确的收款帐号，否则无法正常发放！');
                return;
            }

            if (requesttype == 2 && bankname.length < 2) {
                alert_h('帐号说明不能为空，请填写！');
                return;
            }
            if (requesttype == 3 && money > parseFloat(200.00)) {
                alert_h('微信红包提现金额不能大于200元');
                return;
            }

            if ((requesttype == 0 || requesttype == 3) && money < parseFloat(1.00)) {
                alert_h('通过微信提现,金额不能小于1元');
                return;
            }

            $.ajax({
                url: "/API/VshopRecharge.ashx",
                type: 'post',
                dataType: 'json',
                timeout: 10000,
                data: {
                    requesttype: requesttype,
                    action: "AddAmountApply",
                    account: account,
                    applymoney: money,
                    realname: realname,
                    bankname: bankname,
                    remark: remark
                },
                success: function (resultData) {
                    if (resultData.success) {
                        alert_h(resultData.msg, function () {
                            location.href = "MemberAmountRecord.aspx";
                        });
                    }
                    else {
                        alert_h(resultData.msg);
                    }
                }
            });


        });

    })
</script>
<hi:common_footer runat="server" />