<hi:common_header runat="server" />
<input type="hidden" runat="server" clientidmode="Static" id="litPaymentType" />
	<div class="well mb0">
        <div class="shoppingStepBar clearfix" id="shoppingbar">
            <div class="step active text-left"><em style="margin-left: -8px;">购物车</em><div class="glyphicon glyphicon-ok"></div><i style="border-bottom:2px solid #ff6866;"></i></div>
            <div class="step active text-center"><em>确认订单</em><div class="glyphicon glyphicon-ok"></div></div>
            <div class="step active text-right"><em style="margin-right: -14px;">提交成功</em><div class="glyphicon glyphicon-ok"></div><i style="border-bottom:2px solid #ff6866;"></i></div>
        </div>
        <div class="payoff"><img src="../images/payoff.jpg" /></div>
    </div>
    <div id="orderSuccess" class="well text-center orderMsg">
        <div class="font-xl" id="ordersuccessmes">
            <span class="glyphicon glyphicon-ok" style="display:none;"></span>恭喜，订单提交成功！
        </div>
        <div class="font-xl"  >
            <asp:literal runat="server" id="literalOrderTotal" />
        </div>
        <asp:literal runat="server" id="literalBalancePayInfo" />
            <div class="">
                <asp:literal runat="server" id="litPaymentText" /> <span class="text-danger">
                    <asp:literal runat="server" id="litOrderTotal" />
                </span>
            </div>

        <asp:literal runat="server" id="litOPertorList" />
        </div>
    <div class="panel panel-default order-list" id="helper">
        <div class="panel-heading">
            <h3 class="panel-title">
                线下支付帮助</h3>
        </div>
        <div class="panel-body offline-help">
            <asp:literal runat="server" id="litHelperText" />
        </div>
    </div>
<script type="text/javascript">
    $(function () {
        if ($('#litPaymentType').val() != '0') {
            $('#ordersuccessmes').hide();
            $('#shoppingbar').hide();
        }
        $('#linkToDetail').attr('href', '/Vshop/MemberOrders.aspx?status=0');
        if (getParam('onlyHelp'))
            $('#orderSuccess').hide();
    });
</script>
<hi:common_footer runat="server" />