<hi:common_header runat="server"/>
<div id="orderSuccess" class="well text-center orderMsg">
    <div class="font-xl" id="ordersuccessmes">
        <span class="glyphicon glyphicon-ok" style="display:none;"></span>充值成功！
    </div>
    <!--<div class="font-xl">
        <asp:literal runat="server" id="literalOrderTotal" />
    </div>
    <div class="font-xl" style="display:none;">
        余额已支付：<span style="color:red">¥24.00</span>
    </div>
    <div class="">
        <asp:literal runat="server" id="litPaymentText" /> <span class="text-danger">
            <asp:literal runat="server" id="litOrderTotal" />
        </span>
    </div>
    <div class="btns mt20">
        <a id="linkToDetail" class="btn btn-default mr10" role="button">查看订单</a>
        <a href="/Default.aspx" class="btn btn-default" role="button">继续逛逛</a>
        <a href="#" class="btn btn-danger" role="button" id="btnToPay" runat="server" Visible="false">立即支付</a>
    </div>
    <div class="mt20" style="display:none;">
        <a class="btn btn-danger" href="javascript:;">还需支付 ¥25.00</a>
    </div>-->
</div>
<hi:common_footer runat="server" />